# Default ignored files
/.idea/
/target/
/src/main/resources/konekcija.properties
/src/main/resources/admin.properties
/src/main/resources/konekcija.txt
/src/main/resources/client_secret_813826629661-tranqa2tap7lj55gchvoc33uvmhlbbb7.apps.googleusercontent.com.json
/src/main/resources/tokens/