.button{
-fx-color: #F5E0B7;
}
.choice-box{
-fx-color: #F5E0B7;
}
.root{
-fx-background-color: #C6A990 ;
-fx-font-color: white;
}
.label{
-fx-font-family: Verdana;
-fx-font-size: 14;
}
.table-view .table-column{
-fx-alignment: CENTER;
-fx-border-color: lightgrey;
-fx-border-width: 1px 1px 1px 1px;
-fx-border-style: solid;
-fx-padding: 5px;
}
