.button{
-fx-color: #F5E0B7;
}
.choice-box{
-fx-color: #F5E0B7;
}
.root{
-fx-background-color: #C6A990 ;
-fx-font-color: white;
}
.cell.selection{
-fx-column-header-background: green;
}
.label{
-fx-text-fill: white;
-fx-font-family: Verdana;
-fx-font-size: 14;
}
